//ESTILO DE TEXTO
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Raleway&display=swap');

//ESTILOS GENERALES
@import "./utilities/etiquetas-generales";

//HEADER
@import "./utilities/header";

//VARIABLES
@import "./utilities/variables";

//MIXINS
@import "./utilities/mixins";

//FOOTER
@import "./utilities/footer";

/* Animacion hover para items del navegador */
.barraAnim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & a {
        position: relative;
        &::before {
            @include barra-anim-before(absolute, $gradient-nav, left, transform 0.5s ease-in-out)
        }
    }
}

.barraAnim a:hover::before {
    transform: scaleX(1);
}


/* Animacion para titulo principal */

.bienvenida{
    @include bienvenida (relative, 40px);
    & span {
        @include anim-titulo-bienvenida(('Alkalami', sans-serif) , relative, $bienvenida-color,none, bienvenida, 1.5s, calc(.1s * var(--i)))
    }
}


@keyframes bienvenida {
    0%,40%,100% {
    transform: translateY(0)
    }
    20% {
    transform: translateY(-20px)
    }
}

/* Animacion para texto */
@include line (100%, wrap, 2s anim-lineUp ease-out, 0,1, translateY(80%));

/*-----ACERCA DE-----*/

/* Animacion giro en vertical */
@include animate-flipX (1, rotateX(720deg));

/* Animacion giro en horizontal */
.flipY {
    animation-name: spin, depth;
    animation-timing-function: linear;
    animation-duration: 1s;
}
@keyframes spin {
    0% {
    transform: rotateY(0deg);
    }
    100% {
    transform: rotateY(-360deg);
    }
}


@media screen and(max-width: 767px){

    .barraAnim a {
        padding: 10px;
        width: 100%;
    }

    /*-----INDEX-----*/
    .gridContainer{
        grid-template-areas: 
        "imagen imagen imagen"
        "navi navi navi"
        "caja1 caja1 caja1"
        "caja2 caja2 caja2"
        "foot foot foot"
        ;
    }

    .imagen{
        grid-area: imagen;
    }

    .navi{
        grid-area: navi;
    }

    .caja1{
        grid-area: caja1;
    }
    
    .caja2{
        grid-area: caja2;
    }

    .foot{
        grid-area: foot;
    }

/*-----ACERCA DE-----*/

    .gridContainerAD{
        grid-template-areas: 
        "imagen imagen imagen imagen imagen"
        "navi navi navi navi navi"
        "sect1 sect1 sect1 sect1 sect1"
        "sect2 sect2 sect2 sect2 sect2"
        "sect3 sect3 sect3 sect3 sect3"
        "foot foot foot foot foot"
        ;
    }

    .imagen{
        grid-area: imagen;
    }

    .navi{
        grid-area: navi;
    }

    .sect1{
        grid-area: sect1;
    }

    .sect2{
        grid-area: sect2;
    }

    .sect3{
        grid-area: sect3;
    }

    .contenidoArticulo{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    } 
    
    .menuImagenes{
        display: flex;
        flex-wrap: wrap;
        object-fit: cover;
        height: 200px;
        width: 100%;
        border-radius: 50px;
    }

    /*-----PRECIOS-----*/

    .precioCards{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        margin-top: 20px;
        row-gap: 20px;

    }

    .precioTarjeta:nth-of-type(1){
        grid-column: 1/2;
        justify-self: center;
    }

    .precioTarjeta:nth-of-type(2){
        grid-column: 1/2;
        justify-self: center;
    }

    .precioTarjeta:nth-of-type(3){
        grid-column: 1/2;
        justify-self: center;
    }

    .precioTarjeta:nth-of-type(4){
        grid-column: 1/2;
        justify-self: center;
    }

    .precioTarjeta:nth-of-type(5){
        grid-column: 1/2;
        justify-self: center;
    }

    .precioTarjeta:nth-of-type(6){
        grid-column: 1/2;
        justify-self: center;
    }

/*-----SUCURSALES-----*/
    .sucursalTitulo{
        display: flex;
        justify-content: center;
        margin: 20px 40px;
    }
    .seccionCaja{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        border: 1px solid white;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 30px;
        background-color: wheat;
    }

    .seccionTitulo{
        font-size: 1.5rem;
        font-style: bold;
    }

    .seccionImagen{
        display: flex;
        flex-wrap: wrap;
        object-fit: cover;
        height: 200px;
        width: 100%;
        border-radius: 50px;
    }

}

@media screen and (min-width: 768px) and (max-width: 993px) {

    .barraAnim a {
        padding: 10px;
        width: 100%;
    }

    /*-----INDEX-----*/
    
    .gridContainer{
        grid-template-areas: 
        "imagen imagen imagen imagen imagen"
        "navi navi navi navi navi"
        "caja1 caja1 caja1 caja1 caja1"
        "caja2 caja2 caja2 caja2 caja2"
        "foot foot foot foot foot"
        ;
    }

    .imagen{
        grid-area: imagen;
    }

    .navi{
        grid-area: navi;
    }

    .caja1{
        grid-area: caja1;
    }
    
    .caja2{
        grid-area: caja2;
    }

    .foot{
        grid-area: foot;
    }


    /*-----ACERCA DE-----*/
    .gridContainerAD{
        grid-template-areas: 
        "imagen imagen imagen imagen imagen"
        "navi navi navi navi navi"
        "sect1 sect1 sect1 sect1 sect1"
        "sect2 sect2 sect2 sect2 sect2"
        "sect3 sect3 sect3 sect3 sect3"
        "foot foot foot foot foot"
        ;
    }

    .imagen{
        grid-area: imagen;
    }

    .navi{
        grid-area: navi;
    }

    .sect1{
        grid-area: sect1;
    }

    .sect2{
        grid-area: sect2;
    }

    .sect3{
        grid-area: sect3;
    }

    .contenido{
        margin-top: 10px;
    }

    .contenidoArticulo{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 3rem;
        border: 1px solid white;
        border-radius: 50px;
        margin-bottom: 5px;
        }

    .menuImagenes{
        margin-left: 50px;
        object-fit: cover;
        height: 200px;
        width: 200px;
        border-radius: 50px;
    }

/*-----PRECIOS-----*/

    .precioCards{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-top: 20px;
        row-gap: 20px;
    }

    .precioTarjeta:nth-of-type(1){
        grid-column: 1/2;
        justify-self: center;
    }

    .precioTarjeta:nth-of-type(2){
        grid-column: 2/3;
        justify-self: center;
    }

    .precioTarjeta:nth-of-type(3){
        grid-column: 1/2;
        justify-self: center;
    }

    .precioTarjeta:nth-of-type(4){
        grid-column: 2/3;
        justify-self: center;
    }

    .precioTarjeta:nth-of-type(5){
        grid-column: 1/2;
        justify-self: center;
    }

    .precioTarjeta:nth-of-type(6){
        grid-column: 2/3;
        justify-self: center;
    }

/*-----SUCURSALES-----*/
    .sucursalTitulo{
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    .seccionCaja{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 3rem;
        border: 1px solid white;
        border-radius: 50px;
        margin-bottom: 5px;
        background-color: wheat;
    }

    .seccionTitulo{
        font-size: 1.5rem;
        font-style: bold;
    }

    .seccionImagen{
        margin-left: 50px;
        object-fit: cover;
        height: 200px;
        width: 200px;
        border-radius: 50px;
    }

}


@media screen and (min-width: 994px) {

/*-----INDEX-----*/
    
    .gridContainer{
        grid-template-areas: 
        "imagen imagen imagen imagen imagen"
        "navi navi navi navi navi"
        "caja1 caja1 caja1 caja1 caja1"
        "caja2 caja2 caja2 caja2 caja2"
        "foot foot foot foot foot"
        ;
    }

    .imagen{
        grid-area: imagen;
    }

    .navi{
        grid-area: navi;
    }

    .caja1{
        grid-area: caja1;
    }
    
    .caja2{
        grid-area: caja2;
    }

    .foot{
        grid-area: foot;
    }

/*-----ACERCA DE-----*/
    .gridContainerAD{
        grid-template-areas: 
        "imagen imagen imagen imagen imagen"
        "navi navi navi navi navi"
        "sect1 sect1 sect1 sect1 sect1"
        "sect2 sect2 sect2 sect2 sect2"
        "sect3 sect3 sect3 sect3 sect3"
        "foot foot foot foot foot"
        ;
    }

    .imagen{
        grid-area: imagen;
    }

    .navi{
        grid-area: navi;
    }

    .sect1{
        grid-area: sect1;
    }

    .sect2{
        grid-area: sect2;
    }

    .sect3{
        grid-area: sect3;
    }

    .contenido{
        margin-top: 10px;
    }

    .contenidoArticulo{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 3rem;
        border: 1px solid white;
        border-radius: 50px;
        margin-bottom: 5px;
        }

    .menuImagenes{
        margin-left: 50px;
        object-fit: cover;
        height: 200px;
        width: 200px;
        border-radius: 50px;
    }

/*-----PRECIOS-----*/

    .precioCards{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 30px;
        row-gap: 30px;

    }

    .precioTarjeta:nth-of-type(1){
        grid-column: 1/2;
        justify-self: center;
    }

    .precioTarjeta:nth-of-type(2){
        grid-column: 2/3;
        justify-self: center;
    }

    .precioTarjeta:nth-of-type(3){
        grid-column: 3/4;
        justify-self: center;
    }

    .precioTarjeta:nth-of-type(4){
        grid-column: 1/2;
        justify-self: center;
    }

    .precioTarjeta:nth-of-type(5){
        grid-column: 2/3;
        justify-self: center;
    }

    .precioTarjeta:nth-of-type(6){
        grid-column: 3/4;
        justify-self: center;
    }

/*-----SUCURSALES-----*/
.sucursalTitulo{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.seccionCaja{
    display: flex;
    align-items: center;
    padding: 2rem;
    border: 2px solid wheat;
    border-radius: 30px;
    background-color: wheat;

}

.seccionTitulo{
    font-size: 1.5rem;
    font-style: bold;
}

.seccionImagen{
    margin-left: 50px;
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 50px;
}

}

