@import "./variables";

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    background-color: $body-color;
    font-family: 'Alkalami', sans-serif;
}

.gridContainer{
    display: grid;
}

.gridContainerAD{
    display: grid;
}

// INDEX
.subtitulo{
    font-style: italic;
}

.video{
    height: 315px;
    width: 560px;
}

.margen{
    margin: 2rem 3rem;
}

//BARRA NAV
.pagActual{
    color: $pag-actual;
}

.navColor{
    background-color: $nav-background-color;
}

.nav-item{
    color: $nav-and-box;
}

.navbar{
    --bs-navbar-padding-y: 0px;
    &-toggler {
        margin-top: 0px;
        margin-left: 5px;
        width: 100px;
    }
}

.navH:hover{
    background-color: $nav-hover;
}


//ACERCA DE 
.contenido{
    display: flex;
    justify-content: center;
}

.articulo{
    width: 90%;
}

.contenidoArticuloTitulo{
    font-size: 2rem;
}

//PRECIOS

.precioCards{
    display: grid;
}

//SUCURSALES

.sucursalParrafo{
    margin: 0px 40px;

}

.sucursalSubtitulo{
    margin: 10px 40px;
}

//CONTACTO

.contactoCaja{
    width: 70%;
    border-radius: 10px;
    background-color: rgb(74, 132, 134);
    border: 1px solid rgb(0, 0, 0);
}

.contactoInput{
    transition: 0.3s;
}

.contactoInput:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #e6e6e6,
    inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.contactoAsuntoText{
    transition: 0.3s;
}

.contactoAsuntoText:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #e6e6e6,
    inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.button{
    padding: 1.1em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.button:active {
    transform: translateY(-1px);
}