.footer{
    width: 100%;
    background-color: rgb(74, 132, 134);
    font-weight: bold;
    margin-top: 1rem;
}

.footerTexto{
    text-align: center;
    padding: 4rem;
    background-color: rgb(74, 132, 134);
}