//COLORES
$body-color: cadetblue;
$nav-background-color:  rgb(74, 132, 134);
$bienvenida-color: rgb(39, 39, 39);
$nav-and-box: rgb(228, 207, 168);
$nav-hover: white;
$pag-actual: #341d49;

//LINEAR GRADIENT para barra de nav
$gradient-nav: linear-gradient(to right, red , #ffa500, #ffff00);

//MAPA para sucursal

$sucursalTitle: (
        modo: flex,
        justificado: center,
        margen: 20px 0
);

